

.product {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    
}

@media only screen and (max-width: 1030) {
        
        .product {
            width: 70%;
            height: 70%;
        }
        
  }

  @media only screen and (max-width: 575) {
    
        
        .product {
            width: 30%;
            height: 30%;
        }
        
  }